.dashboard-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
}

.dashboard-box {
  background: #1e293b;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  color: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.dashboard-box button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #ef4444;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.dashboard-box button:hover {
  background: #dc2626;
}